html,
body {
  height: 100%;
  overflow: hidden;
  font-family: 'Poppins', 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  border-radius: 20px;
}

.v-card {
  box-shadow: 0 0 12px 0 rgba(55, 73, 72, .06);
}

.v-breadcrumbs {
  padding: 0;

  .v-breadcrumbs-item {
    padding: 0;
    font-size: 12px;
    font-weight: 500;

    &:not(.v-breadcrumbs-item--disabled) {
      color: rgb(var(--v-theme-primary));
    }
  }

  .v-breadcrumbs-divider {
    display: flex;
    font-size: 10px;
    opacity: 0.5;
  }
}